* {
    text-decoration: none;
    list-style: none;
    color: rgb(206, 206, 217);
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(20, 20, 21);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html {
    height: 100%;
}

header {
    background-color: rgb(20, 20, 21);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(35, 35, 36);
}

.footer {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-top: 1px solid rgb(35, 35, 36);
  }
  
  .credit {
    display: flex;
    align-items: center;
    gap: 8px;
    color: rgb(79, 79, 83);
    font-size: 16px;
  }
  
  .github-link {
    display: inline-flex;
    align-items: center;
  }
  
  .github-icon {
    width: 20px;
    height: 20px;
    fill: rgb(79, 79, 83);
    transition: fill 0.3s ease;
  }
  
  .github-link:hover .github-icon {
    fill: #cfcfcf;
  }

.mainarea {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.title {
    font-size: 40px;
    font-weight: 700;
    font-style: italic;
    color: rgb(94, 153, 255);
}

.how {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: rgb(126, 126, 133);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.how:hover {
    background-color: rgb(24, 24, 26);
}

.gifcontainer {
    background-color: #171718;
    border: 1px solid rgb(35, 35, 36);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}

.gifmaker {
    width: 300px;
    height: 100px;
    background-color: rgb(23, 23, 24);
    border: 1px solid rgb(35, 35, 36);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input:focus {
    outline: none
}

#searcherror {
    color: rgb(204, 80, 80);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

#gifsearch {
    font-size: 18px;
    background-color: rgb(20, 20, 21);
    border: 1px solid rgb(35, 35, 36);
    border-radius: 5px;
    padding: 5px;

}
#gifsearch:focus {
    border: 1px solid rgb(56, 56, 60);
}

.control {
    display: flex;
    gap: 10px;
}

#generate {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 110px;
    height: 30px;
    background-color: rgb(34, 36, 46);
    border-radius: 5px;
    border: 1px solid rgb(48, 55, 71);
    padding: 3px;
    font-size: 18px;
    cursor: pointer;
}
#generate:hover {
    background-color: rgba(34, 36, 46, 0.839);
}

#svgg {
    width: 18px;
    height: 18px;
}

#remove {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 110px;
    height: 30px;
    background-color: rgb(43, 34, 34);
    border-radius: 5px;
    border: 1px solid rgb(68, 54, 54);
    padding: 3px;
    font-size: 18px;
    cursor: pointer;
}
#remove:hover {
    background-color: rgba(43, 34, 34, 0.843);
}

#remove:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
#generate:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#download {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 110px;
    height: 30px;
    background-color: rgb(34, 43, 36);
    border-radius: 5px;
    border: 1px solid rgb(54, 68, 57);
    padding: 3px;
    font-size: 18px;
    cursor: pointer;
}
#download:hover {
    background-color: rgba(34, 43, 36, 0.846);
}


#giftext {
    color: rgb(71, 71, 75);
    font-size: 30px;
}

img {
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
}

#searcher {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#spinner {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid rgb(71, 71, 75);
    border-left-color: rgb(94, 153, 255);
    animation: spin 1s linear infinite;
    display: none;
}

@keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }




@media (max-width: 600px) {
    .gifcontainer {
        background-color: #171718;
        border: 1px solid rgb(35, 35, 36);
        padding: 25px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 300px;
    }
    
    .gifmaker {
        width: 300px;
        height: 100px;
        background-color: rgb(23, 23, 24);
        border: 1px solid rgb(35, 35, 36);
        padding: 25px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}